<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <section>
        <div class="welcome info-box text-white text-center p-1">
            <h1 class="mt-1">Welcome to The Fizz-Buzz-Soda Diner</h1>
            <h4 class="text-center fizz">Pop?</h4>
            <h4 class="text-center buzz">Soda?</h4>
            <h4 class="text-center fizz">Soft-Drink?</h4>
            <h4 class="text-center buzz">Cola?</h4>
            <h4 class="text-center fizz">Coke?</h4>
            <h2>Whatever name you use for your carbonated beverages, we have the <span class="fizz">Fizzness</span> on
                them all.</h2>
            <p>View diners and see what sodas are available, Add or delete sodas from your favorite diner, or
                add sodas that you would like to
                see served. Don't like a diner? Remove it from the list! 
            </p>
            <h4>Select a link at the top of the page to get started.</h4>
        </div>
    </section>

    <%- include('../partials/footer') %>