<header>
  <nav class="navbar navbar-expand-lg">
    <div class="top">
      <a class="nav-link m-5" href="/" class="navbar-brand"><img id="logo" src="/images/soda-diner-logo.png"></a>
      <a class="nav-link m-2" href="/sodas">All Sodas</a>
      <a class="nav-link m-2" href="/diners">All Diners</a>
    </div>
  </nav>
</header>