<div class="modal fade" id="modal-edit" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">What's the <span class="buzz">BUZZ?</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you'd like to stop serving this <span class="fizz">Fizzy</span> Soda?</h5>
            </div>
            <div class="modal-footer">
                <a href="#"><button type="button" class="btn btn-secondary redirect-modal"
                        data-bs-dismiss="modal">Close</button></a>
                <button type="button" class="btn btn-primary currently-served">Stop Serving</button>
            </div>
        </div>
    </div>
</div>